.player-bandcamp { display: block; border: 0; width: 100%; }
.player-bandcamp.large {
  border: 2px solid var(--tinta);
  max-width: 700px;
  height: 472px;
}
.player-bandcamp.small { height: 42px; }
